name: CI tests

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      LISP: sbcl-bin/2.5.0
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install libgtk-4-dev
      - name: Install roswell
        run: |
          curl -L https://raw.githubusercontent.com/roswell/roswell/master/scripts/install-for-ci.sh | sh
      - name: Install qlot
        run: |
          ros install qlot
      - name: Set Path
        run: |
          echo "${HOME}/.roswell/bin" >> $GITHUB_PATH
      - name: Run tests
        run: |
          cd $GITHUB_WORKSPACE
          qlot install
          qlot exec ros -l ci/test.lisp
